body {
  font-family: 'Russo One', sans-serif;
  color: white;
  margin: 15px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(37,3,3,1) 23%, rgba(106,4,15,1) 65%, rgba(157,2,8,1) 100%);
}

#main {
  background-color: #e85d04;
  text-align: center;
  border: solid;
  border-radius: 65px;
  padding: 15px;
  width: 400px;
  margin: 40px auto;
  box-shadow: 5px 6px 12px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 470px) {
  #main {
    width: 350px;
  }
}

@media (max-width: 415px) {
  #main {
    width: 285px;
  }
}

@media (max-width: 350px) {
  #main {
    width: 245px;
  }
}

#intro {
  margin-top: 25px;
}

h1 {
  font-size: 24px;
  margin-bottom: 0;
}

h2 {
  font-size: 16px;
  margin-top: 0;
}

p {
  font-size: 13px;
}

#profile_pic {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  border-radius: 50%;
  object-fit: cover;
  transition-duration: 2s;
  box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.5);
}

#profile_pic:hover {
  transform: rotate(360deg);
  /* transform: rotate3d(4, 1, 1, 360deg); */
}

#music {
  margin: 30px auto 33px;
}

#music p {
margin-bottom: 30px;
}

.btn-scld a {
  text-decoration: none;
  color: white;
}
.btn-scld {
  background-color: #d00000;
  padding: 10px;
  border-radius: 50px;
  /* box-shadow: 6px 5px 17px 0px #00000036; */
  width: 150px;
  text-align: center;
  transition-duration: 0.4s;
  margin: auto;
}

.btn-scld:hover {
  box-shadow: 5px 4px 8px 0px rgba(0, 0, 0, 0.5);
  background-color: #6a040f
}

.fa-soundcloud {
  margin-right: 8px;
}

h3 {
  color: #370617;
  font-size: 12px;
}

li a i {
  color: #370617;
  font-size: 24px;
  transition-duration: 0.4s;
}

li a i:hover {
  color: #ffba08;
  /* font-size: 30px; */
}

ul {
  list-style: none;
  padding-left: 0px;
}

ul li{
  display: inline-block;
  padding: 0px 15px;
}
